<form class="sms" action="/" method="GET">
<input class="in" placeholder="Сообщение" name="message">
<input class="botton" type="submit" name="send" value="Отправить">
<input class="botton" type="submit" name="clear" value="Очистить чат">
</form>
